{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.backend.dashboard.header'|trans }}<small> {{ 'sylius.backend.dashboard.subheader'|trans }}</small></h1>
</div>

<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'sylius.backend.alert.info'|trans }}</h4>
    There are no new notifications.
</div>
{% endblock %}
