body {
    padding-top: 20px;
    padding-bottom: 40px;
}
a.muted:hover {
    color:#999999;
    text-decoration: none;
}
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

th {
    background-color: #f1f1f1;
}

#sidebar_left ul {
    margin-left: 0;
    list-style: none;
}

#sidebar_left ul span.nav-header {
    padding-left: 0;
}

#sidebar_left ul.nav-list li {

}

#sidebar_left ul li a {
    display: block;
    padding-left: 0;
}

#sidebar_left ul li a:hover {
    text-decoration: none;
}

#sidebar_left ul li img {
    float: left;
    margin-right: 10px;
}

#sidebar_left ul li h4 {
    font-size: 15px;
    text-align: left;
}
