{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.backend.taxonomy.show_header'|trans({'%name%': taxonomy.name})|raw }}</h1>
</div>
{% endblock %}
